<div class="page-wrapper">

    <div class="form-container">
        <div class="form-title-container">
            <h1 class="form-logo">EasyEats <i class="fas fa-hamburger fa-lg"></i></h1>
            <hr class="form-logo">
            <h3>Add New Tool</h3>
        </div>
        <form id="new-recipe-form" method="post" action="">
            <span class="form-input-container">
                <i class="form-field-icon fas fa-tools fa-lg"></i>
                <input class="form-input-field" type="text" name="name" placeholder="Tool Name" required>
            </span>
            <span class="form-textarea no-border">
                <i class="form-field-icon far fa-sticky-note fa-lg"></i>
                <textarea name="description" id="recipe-desription" placeholder="decription..." cols="30"
                    rows="10"></textarea>
            </span>
            <span class="form-button-container">
                <input class="form-button submit" type="submit" value="Add Tool">
            </span>
        </form>

    </div>

</div>