<div class="page-wrapper">
    <div class="container">
        <div class="info">
            <div class="header">
                <h1>Welcome to EasyEats</h1>
                <h4>Find and share awesome recipes!</h4>
            </div>
            <div class="options-container">
                <a href="/recipes">Let's find some recipes <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="icon-container">
            <i class="fas fa-hamburger"></i>
            <i class="fas fa-pizza-slice"></i>
            <i class="fas fa-apple-alt"></i>
        </div>
    </div>
</div>