<div class="page-wrapper">
    <div class="recipe-container">
        <div class="recipe-header">
            <h1 class="">Recipe Title</h1>
        </div>
        <div class="recipe-info">
            <div class="recipe-author">
                <h4>Authors name</h4>
            </div>
            <div class="recipe-description">
                <p class="description">
                    Instructions for the recipe...
                </p>
            </div>
            <button id="recipe-save-button" class="recipe-button">Save Recipe</button>
        </div>
    </div>
</div>