<div class="page-wrapper">
    <div class="page-header">
        <div class="page-title">
            {{#if isUserRecipes}}
            <h1>My Recipes</h1>
            {{else}}
            <h1>All Recipes</h1>
            {{/if}}
        </div>
        <div class="search-bar">
            <form name="search-form" action="">
                <input type="text" name="search-bar" placeholder="Search recipes...">
            </form>
        </div>

        <div class="recipe-button">
            <a href="/recipes/create">Create Recipe<i class="fas fa-plus-circle"></i></i></a>
        </div>
        
    </div>
    <div class="recipe-container">
        {{#each recipes}}
            {{> recipe_preview }}
        {{/each}}
    </div>
</div>