<div class="page-wrapper">
    <div class="page-header">
        <div class="page-title">
            {{#if userID}}
            <h1>My Recipes: userID: {{userID}}</h1>
            {{else}}
            <h1>All Recipes</h1>
            {{/if}}
        </div>
        <div class="search-bar">
            <form name="search-form" action="">
                <input type="text" name="search-bar" placeholder="Search recipes...">
                <input type="submit" class="search" name="search-button" value="search">
            </form>
        </div>

        <div class="recipe-button">
            <a href="/recipes/create">Create Recipe<i class="fas fa-plus-circle"></i></i></a>
        </div>
        
    </div>
    <div class="recipe-container">
        {{#each recipes}}
            {{> recipe_preview }}
        {{/each}}
        
        {{!-- <div class="recipe-preview-card">
            <div class="recipe-header">
                <h1 class="recipe-title">Recipe Title:</h1>
            </div>
            <div class="recipe-info">
                <h4 class="recipe-author">Recipe Author:</h4>
                <p class="recipe-description">Recipe Description:</p>
            </div>
            <div class="recipe-button">
                <a href="/recipes/detail/1">View recipe<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="recipe-preview-card">
            <div class="recipe-header">
                <h1 class="recipe-title">Recipe Title:</h1>
            </div>
            <div class="recipe-info">
                <h4 class="recipe-author">Recipe Author:</h4>
                <p class="recipe-description">Recipe Description:</p>
            </div>
            <div class="recipe-button">
                <a href="/recipes/detail/1">View recipe<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="recipe-preview-card">
            <div class="recipe-header">
                <h1 class="recipe-title">Recipe Title:</h1>
            </div>
            <div class="recipe-info">
                <h4 class="recipe-author">Recipe Author:</h4>
                <p class="recipe-description">Recipe Description:</p>
            </div>
            <div class="recipe-button">
                <a href="/recipes/detail/1">View recipe<i class="fas fa-arrow-right"></i></a>
            </div>
        </div> --}}
    </div>
</div>