<div class="page-wrapper">

    <div class="form-container">
        <div class="form-title-container">
            <h1 class="form-logo">EasyEats <i class="fas fa-hamburger fa-lg"></i></h1>
            <hr class="form-logo">
            <h3>Register</h3>
        </div>
        <form id="login-form" method="post" action=""> 
            <span class="form-input-container">
                <i class="form-field-icon fas fa-user fa-lg"></i>
                <input class="form-input-field" type="text" name="username" placeholder="Username" required> 
            </span>
            <span class="form-input-container">
                <i class="form-field-icon fas fa-lock fa-lg"></i>
                <input class="form-input-field" type="password" name="password" placeholder="password" required>
            </span>
            <span class="form-input-container">
                <i class="form-field-icon fas fa-lock fa-lg"></i>
                <input class="form-input-field" type="password" name="confirm-password" placeholder="confirm password" required>
            </span>
            <span class="form-button-container">
                <input class="form-button submit" type="submit" value="Register">
            </span>
        </form>
    
        <hr>
        <div class="login-link-container">
            <h3>Already have an account?</h3>
            <span class="login-button-container">
                <a class="login-button" href="/login">Login</a>
            </span>
        </div>
    </div>

</div>