<div class="page-wrapper">
    <div class="container">
        <div class="supplier-header">
            <h1 class="supplier-name">Supplier Name</h1>
        </div>
        <div class="ingredients-container">
            <ul class="ingredients">
                <li>Ingredient</li>
                <li>Ingredient</li>
                <li>Ingredient</li>
            </ul>
            <a href="/supplier/add_ingredient" class="supplier-button">Add Ingredient</a>
        </div>
        <div class="tool-container">
            <ul class="tools">
                <li>tool</li>
                <li>tool</li>
                <li>tool</li>
            </ul>
            <a href="/supplier/add_tool" class="supplier-button">Add Tool</a>
        </div>
    </div>
</div>