<div class="page-wrapper">
    <div class="container">
        <div class="supplier-header">
            <h1 class="supplier-name">Supplier Name</h1>
        </div>
        <div class="ingredients-container">
            <ul class="ingredients">
                <li>Ingredient</li>
                <li>Ingredient</li>
                <li>Ingredient</li>
            </ul>
            <a href="/supplier/add_ingredient" class="supplier-button">Add Ingredient</a>
        </div>
        <div class="tool-container">
            <ul class="tools"> <!--Using handlebars to show off each tool.-->
                <!--Opting not to use a template for this since tools are
                so simple to ennumerate.-->
                {{#each tools}}
                    <li><strong>{{name}}:</strong> {{description}}</li>
                {{/each}}
            </ul>
            <a href="/supplier/add_tool" class="supplier-button">Add Tool</a>
        </div>
    </div>
</div>
