:root {
    /* Set variables here */
    --background-image: linear-gradient(to top, #a8c0ff, #3f2b96);
}

html, body {
    box-sizing: border-box;
    min-height: 100vh; 
    width: 100%; 

    font-family: Roboto, Arial;
    background-image: var(--background-image);
}

*, *:before, *:after {
    box-sizing: inherit;

    /* remove any margin or padding added by browser */
    margin: 0;
    padding: 0;
}

body {
    display:grid;
    grid-template-rows: auto 1fr;
}